<h2 style="text-align: center; margin-top: 20px">Event Management System</h2>

<ul style="display: flex; justify-content: right; list-style-type: none; margin-right: 50px">
  <li><a style="text-decoration: none; margin-right: 30px" href="./">Home</a></li>
  <li><a style="text-decoration: none; margin-right: 30px" href="./login">Login</a></li>
  <li><a style="text-decoration: none; margin-right: 30px" href="./register">Register</a></li>
</ul>
